/* Fonts */
@import 'fonts.css';


body {
    margin: 0;
    padding : 0;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    color: #FFF;
    font-size: 70px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    box-sizing: border-box; 
}

.res-align-center {
    align-items: center;
}

/* Header */
header {
    position: relative;
}

header nav {
    position: fixed;
    width: 100%;
    padding: 10px 0;
    z-index: 999;
    margin: 10px 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header nav.res-nav-fixed {
    margin: 0;
    background: rgba(0, 0, 0, .5);
}

header nav ul.res-navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul.res-navigation li a {
    display: block;
    padding: 0 16px;
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
}

header nav ul.res-navigation li:last-child a {
    padding-right: 0; 
}

header nav ul.res-navigation li a::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    background-color: #FFF;
    opacity: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

header nav ul.res-navigation li a:hover:after {
    width: 100%;
    opacity: 1;
}

.res-header-text {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5); 
}

.res-main-picture {
    display: block;
    width: 100%;
}

.res-header-text .res-arrow {
    display: inline-block;
    border: solid 3px #FFF;
    padding: 20px;
    border-width: 0 3px 3px 0;
    cursor: pointer;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}

.res-header-text .res-arrow:hover {
    opacity: .7;
}

/* Logo */
.res-logo {
    color: #FFF;
    font-size: 26px;
    text-decoration: none;
    border: solid 2px #FFF;
    height: 60px;
    width: 60px;
    display: flex;
    border-radius: 100%;
    justify-content: center;
    align-items: center; 
}

/* About me  */
.res-about-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 30px;
    justify-content: space-evenly;
}

.res-about-image{
    width: 450px;
    height: 600px;
    border: 10px solid #FFF; 
    box-shadow: 0px 0px 6px 6px #60696e;  
    border-radius: 10px;  
}

.res-about-content {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.res-about-icons ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.res-about-icons ul li {
    padding: 10px;
    border: solid 2px #000;
    height: 20px;
    width: 20px;
    border-radius: 100%; 
    align-items: center;
    justify-content: center;
    display: flex;
   color: #FFF;
}

/* Animations */
.res-pulsate {
    -webkit-animation: pulsate 3s ease-in-out;
    -webkit-animation-iteration-count: infinite;
    opacity: .3;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}